@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

.font-dm-serif {
  font-family: 'DM Serif Display', serif;
}

.font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}
