@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-instrument-serif {
  font-family: "Instrument Serif", serif;
}
