@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

.font-instrument-serif {
  font-family: "Instrument Serif", serif;
}

.font-instrument-serif-italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}
