@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

.font-plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.font-instrument-serif {
  font-family: "Instrument Serif", serif;
}
