@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.font-handwriting {
  font-family: "Caveat", cursive;
}

.font-body {
  font-family: "Inter", sans-serif;
}
