@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap");

.font-instrument {
  font-family: "Instrument Serif", serif;
}

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}
