@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");

.font-lora {
  font-family: "Lora", serif;
}

.font-source-sans {
  font-family: "Source Sans 3", sans-serif;
}
